<!DOCTYPE HTML>
<html lang="en-US" ng-app="myappname">
<head>
    <meta charset="UTF-8">
    <title>Activity Three</title>
</head>
<body>
    <div class="container" ng-controller="SimpleController" >
        Name: <input type="text" ng-model="name" /> {{name}}
        <h3>Looping with the ng-repeat Directives</h3>
        <ul>
            <li ng-repeat="cust in customers | filter:name | orderBy:'city'">{{cust.name | uppercase}} - {{cust.city | lowercase}}</li>
        </ul>
    </div>
    
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript">
        function SimpleController($scope)
        {
            $scope.customers = [
                {name:'John Smith',city:'Phoenix'},
                {name:'Jonh Doe',city:'New York'},
                {name:'Jane Doe',city:'San Francisco'}
            ];
        }
    </script>
</body>
</html>